* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}



nav {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}



.hero {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ddd;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 25px;
}

button {
    background: #111;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
}



#products {
    padding: 60px 8%;
}

#products h2 {
    text-align: center;
    margin-bottom: 30px;
}


#search,
#category {
    padding: 12px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}

#search {
    width: 60%;
}

#category {
    width: 200px;
}



#product-container {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}



.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}



.card img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    margin-bottom: 15px;
}


.card h3 {
    font-size: 17px;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    font-weight: bold;

    margin: 10px 0;
}

.category {
    color: #777;
    font-size: 14px;
}


.rating {
    margin: 10px 0;
}

.rating i {
    color: #ffc107;
    margin-right: 5px;
}


footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 50px;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.quantity button {
    width: 35px;
    height: 35px;
    padding: 0;
    font-size: 18px;
}

.quantity span {
    font-size: 18px;
    font-weight: bold;
}